{% extends 'templates_back/base.html.twig'%}
<!DOCTYPE html>

{% block title %}Suivi Activite index{% endblock %}

{% block body %}
    <h1>SuiviActivité index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Rep</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivi_activit_ in suivi_activit_s %}
            <tr>
                <td>{{ suivi_activit_.id }}</td>
                <td>{{ suivi_activit_.date ? suivi_activit_.date|date('Y-m-d') : '' }}</td>
                <td>{{ suivi_activit_.rep }}</td>
                <td>
                    <a href="{{ path('app_suivi_activit__show', {'id': suivi_activit_.id}) }}">show</a>
                    <a href="{{ path('app_suivi_activit__edit', {'id': suivi_activit_.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_suivi_activit__new') }}">Create new</a>
{% endblock %}
