{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div class="mb-3">
    {{ form_label(form.Nom) }}
    {{ form_widget(form.Nom, {'attr': {'class': 'form-control ' ~ (form.Nom.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.Nom, {'attr': {'class': 'text-danger'}}) }}
</div>

{# <div class="mb-3">
    {{ form_label(form.Calories) }}
    {{ form_widget(form.Calories, {'attr': {'class': 'form-control ' ~ (form.Calories.vars.errors|length > 0 ? 'is-invalid' : '')}}) }}
    {{ form_errors(form.Calories, {'attr': {'class': 'text-danger'}}) }}
</div> #}

<div class="mb-3">
    {{ form_label(form.image) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Image'}}) }}
    {{ form_errors(form.image, {'attr': {'class': 'text-danger'}}) }}
</div>

<button class="btn btn-success">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
