{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<h1>Our Products</h1>

	<div class="container">
		<div class="row">
			{% for produit in produits %}
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ produit.NomProduit }}</h5>
						<p class="card-text">{{ produit.Description }}</p>
						<p class="card-text">Price: ${{ produit.Prix }}</p>
						<img src="{{ asset('img/' ~ produit.image) }}" alt="Product Image" width="200" height="200">
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary">Details</a>
						<a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-secondary">Edit</a>
						<a href="{{ path('app_produit_qr_bundle', {'id': produit.id}) }}" class="btn btn-info">QR Bundle</a>
					</div>
				</div>
			</div>

			{% if loop.index % 4 == 0 %}
		</div>
		<div class="row">
			{% endif %}
			{% else %}
				<p>No items in your cart</p>
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('app_produit_new') }}" class="btn btn-success">Add New Product</a>
{% endblock %}