{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
<style>
	.centered-div {
		width: 50%; /* Set the width of the div */
		margin: 0 auto; /* Set the top and bottom margin to 0, and the left and right margin to auto */
	}
</style>
<div class="centered-div">
	<h1>Produit</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ produit.id }}</td>
			</tr>
			<tr>
				<th>Nom_produit</th>
				<td>{{ produit.NomProduit }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ produit.Description }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ produit.Prix }}</td>
			</tr>
			<tr>
				<img src="{{ asset('img/' ~ produit.image) }}" alt="Product Image" width="200" height="200"></tr>
		</tbody>
	</td>
		</tr></tbody></table><a href="{{ path('app_produit_index') }}">back to list</a><a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>{{ include('produit/_delete_form.html.twig') }}</div>{% endblock %}
