<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of commandes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #007bff;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color:#ed63ad;margin-left:200px" >List of commandes</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-white" style="background-color: #ff69b4;color:white;">
                    <th>id</th>
                    <th>nom client</th>
                    <th>Etat</th>
                    <th>date command</th>
                    <th>total</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.user.fname }}</td>
                        <td>{{ commande.etatCmd }}</td>
                        <td>{{ commande.dateCmd ? commande.dateCmd|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.total }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
    </div>
    </div>
</body>
</html>