{% extends 'base.html.twig'%}


{% block title %}Suivi Activite index{% endblock %}

{% block body %}
<style>
    .centered-div {
        width: 50%; /* Set the width of the div */
        margin: 0 auto; /* Set the top and bottom margin to 0, and the left and right margin to auto */
    }
</style>
<div class="centered-div">
    <h1>SuiviActivité index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Rep</th>
                <th>User</th>
                <th>Activite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivi_activit_ in suivi_activit_s %}
            <tr>
                <td>{{ suivi_activit_.id }}</td>
                <td>{{ suivi_activit_.date ? suivi_activit_.date|date('Y-m-d') : '' }}</td>
                <td>{{ suivi_activit_.rep }}</td>
                <td>{{ suivi_activit_.user.Nom }}</td>
                <td>{{ suivi_activit_.activite.nom }}</td>
                <td>
                    <a href="{{ path('app_suivi_activit__show', {'id': suivi_activit_.id}) }}">show</a>
                    <a href="{{ path('app_suivi_activit__edit', {'id': suivi_activit_.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_suivi_activit__new') }}">Create new</a>
</div>
{% endblock %}
